.toy-list {
    margin: rem(30px);
    display: flex;
    gap: 50px;
    
    .toy-preview {
        align-items: center;
        margin: unset;
        padding: unset;
        gap: rem(20px);
        font-size: 18px;
        p, h4 {
            margin: unset;
            padding: unset;
        
        }
    
        .toy-img {
            width: rem(300px);
            aspect-ratio: 1/1;
        }

        .toy-preview-btns {
            align-items: center;
            gap: rem(10px);
           
        }

        .toy-preview-btn {
            border: 1px solid $clr7;
            border-radius: rem(5px);
            color: $clr6;
            cursor: pointer;
            // font-family: baloo;
            // font-size: 12px;
        }
    }
}

.toy-btn-add {
    border: 1px solid $clr7;
    border-radius: rem(5px);
    color: $clr6;
    cursor: pointer;
}
