.toy-edit-form {
    margin: unset;
    padding: unset;
    // align-items: center;
    margin-left: 20px;

    input {
        width: rem(220px);
    }

    .toy-edit-img{
        width: rem(100px);
    }
}
