@font-face {
    font-family: Bahnschrift;
    src: url(../../fonts/Bahnschrift/bahnschrift.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url(../../fonts/lato/Lato-Thin.ttf);
}

@font-face {
    font-family: lato;
    src: url(../../fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(../../fonts/lato/Lato-Bold.ttf);
}

@font-face {
    font-family: lato-x-bold;
    src: url(../../fonts/lato/Lato-Black.ttf);
}

@font-face {
    font-family: baloo;
    src: url(../../fonts/baloo/Baloo-Regular.ttf);
}