
// COLOR PALETTE
$clr1: #40DFEF;
$clr2: #fffdf1;
$clr3: #B9F8D3;
$clr4: darken($clr3, 40%);
$clr5: #7f9199;
$clr6: #E78EA9;
$clr7: #202020;
$clr8: #faf75f;
$clr9: #ffb2c9;

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 1200px;
$break-normal: 1360px;
$break-wide: 1920px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;