.main-layout {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 40% 3fr 10%;

    // > * {
    //     grid-column: 3;
    // }

    > *.full {
        grid-column: 1 / -1;
    }

    > *:not(.full) {
        // display: grid;
        // grid-auto-flow: dense;
        grid-template-columns: repeat( 3, 1fr );
    }
    grid-template-areas:
    "main-header main-header main-header"
    "main-content-container main-content-container main-content-container"
    "app-footer app-footer app-footer";

    @include for-narrow-layout {
        @include layoutGTC($break-narrow);
    }
    
    @include for-normal-layout {
        @include layoutGTC($break-normal);
    }
    
    @include for-wide-layout {
        @include layoutGTC($break-wide);
    }
}


.main-text {
    margin-bottom: rem(90px);
}

.main-content-container {
    grid-area: main-content-container;
}